[Desktop Entry]
Type=Application
Name=slitaz-terminal
Name[fa]=پایانه ی LX
Name[hr]=LXterminal
Name[uk]=LX-термінал
Name[zh_CN]=LX 终端
Name[zh_TW]=LX 終端機
Comment=Use the command line
Comment[ar]=استخدِم سطر الأوامر
Comment[ca]=Utilitzeu la línia d'ordres
Comment[cs]=Používat příkazový řádek
Comment[da]=Brug kommandolinjen
Comment[de]=Befehlszeile verwenden
Comment[el]=Χρήση γραμμής εντολών
Comment[es]=Utilice la línea de órdenes
Comment[fa]=استفاده از خط فرمان
Comment[fi]=Käytä komentoriviä
Comment[fr]=Utiliser la ligne de commande
Comment[hr]=Koristi naredbeni redak
Comment[hu]=Parancssor használata
Comment[id]=Gunakan perintah baris
Comment[is]=Nota skipanalínuna
Comment[it]=Usa la riga di comando
Comment[ja]=コマンド・ライン端末です
Comment[nb]=Bruk kommandolinjen
Comment[nl]=Gebruik de opdrachtregel
Comment[nn]=Bruk kommandolinja
Comment[pl]=Emulator terminala
Comment[pt]=Utilizar a linha de comandos
Comment[pt_BR]=Use a linha de comando
Comment[ro]=Utilizează linia de comandă
Comment[ru]=Использовать командную строку
Comment[sl]=Uporabi ukazno vrstico
Comment[sv]=Använd kommandoraden
Comment[tr]=Komut satırını kullan
Comment[uk]=Використати командну стрічку
Comment[vi]=Dùng dòng lệnh
Comment[zh_CN]=使用命令行
Comment[zh_TW]=使用命令列
Exec=defaultterminal
Icon=utilities-terminal
Categories=GTK;System;TerminalEmulator;
