[Desktop Entry]
Type=Application
Name=Slitaz Editor
Comment=A fast and lightweight IDE using GTK+
Comment[ar]=بيئة تطوير خفيفة وسريع تستخدم مكتبات GTK+
Comment[ca]=Un IDE ràpid i lleuger fet amb GTK+
Comment[cs]=Rychlé a lehké IDE pro GTK+
Comment[de]=Eine kleine und schnelle Entwicklungsumgebung für GTK+
Comment[el]=Γρήγορο και ελαφρύ GTK+ IDE
Comment[es]=Un IDE rápido y ligero para GTK+
Comment[fi]=Nopea ja kevyt GTK+-pohjainen ohjelmointiympäristö
Comment[fr]=Un EDI rapide et léger utilisant GTK+
Comment[hu]=Gyors és pehelykönnyű IDE GTK+ alapokon
Comment[id]=Sebuah IDE yang cepat dan ringan menggunakan GTK+
Comment[it]=Un IDE veloce e leggero che usa GTK+
Comment[ja]=GTK+ を用いた高速で軽量な IDE
Comment[nl]=Een snelle en lichtgewicht IDE, gebaseerd op GTK+
Comment[nn]=Eit raskt og lett IDE som nyttar GTK+
Comment[pl]=Szybkie i lekkie środowisko programistyczne oparte na GTK+
Comment[pt]=Um IDE rápido e leve, usando GTK+
Comment[pt_BR]=Uma IDE rápido e leve usando GTK+
Comment[ro]=Un IDE rapid folosind GTK+
Comment[ru]=Быстрая и легковесная среда разработки, использующая GTK+
Comment[sl]=Hitro in lahkotno vdelano razvojno okolje z uporabo GTK+
Comment[sv]=Ett snabbt och lättviktigt IDE som använder GTK+
Comment[tr]=GTK+ kullanan hızlı ve hafif bir IDE
Comment[uk]=Швидке та легке графічне середовище, що використовує GTK+
Comment[vi]=Một IDE nhanh và nhẹ nhàng dùng GTK+
Comment[zh_CN]=GTK+ 编写的轻快的 IDE
Comment[zh_TW]=一個快速且輕巧的 GTK+ 整合開發環境
StartupNotify=true
Exec=defaulttexteditor %F
Icon=geany
Categories=GTK;Development;IDE;
MimeType=text/x-python;application/x-php;application/x-httpd-php3;application/x-httpd-php4;application/x-httpd-php5;application/xml;text/html;text/css;text/x-sql;text/x-diff;text/plain;text/x-chdr;text/x-csrc;text/x-c++hdr;text/x-c++src;text/x-java;text/x-dsrc;text/x-pascal;text/x-perl;
